* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    color: white;
    font-family: Verdana, sans-serif;
}
*::-webkit-scrollbar {
    display: none;
}
body {
    padding: 0;
    margin: 0;
    background: url(../../resources/views/img/background.jpg);
    background-size: cover;
}

.page-title {
    font-size: 10em;
    text-align: center;
    margin-top: 300px;
    text-shadow: 0px 0px 10px black;
}
.page-title-small {
    font-size: 6em;
    text-align: center;
    margin-top: 50px;
    text-shadow: 0px 0px 10px black;
}

#author {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 10px black;
}

#category-container {
    text-align: center;
}

.category-item {
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    padding: 25px;
    margin: 40px;
    background: rgba(255, 250, 205, 0.6);
    border-radius: 10px;
    text-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.card-container {
    padding: 50px;
    height: 560px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}
.card {
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    width: 20rem;
    margin: 0px 50px;
    padding: 1em 2em;
    color: black;
    box-shadow: 0px 0px 15px black;
    text-align: center;
}
.card-button {
    background-color: teal;
    margin: 20px 0px 0px 0px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
}
.card-img {
    background-size: contain;
    max-width: 271px;
    height: 377px;
    margin-left: 25px;
}
