/*
|-----------------------------------------------------------
| Image Sources For "Games"
|-----------------------------------------------------------
*/
.game0 {
    background: url(../img/game0.jpg);
}
.game1 {
    background: url(../img/game1.jpg);
}
.game2 {
    background: url(../img/game2.jpg);
}
.game3 {
    background: url(../img/game3.jpg);
}
.game4 {
    background: url(../img/game4.jpg);
}

/*
|-----------------------------------------------------------
| Image Sources For "Chairs"
|-----------------------------------------------------------
*/
.chair0 {
    background: url(../img/chair0.jpg);
}
.chair1 {
    background: url(../img/chair1.jpg);
}
.chair2 {
    background: url(../img/chair2.jpg);
}
.chair3 {
    background: url(../img/chair3.jpg);
}
.chair4 {
    background: url(../img/chair4.jpg);
}

/*
|-----------------------------------------------------------
| Image Sources For "Desks"
|-----------------------------------------------------------
*/
.desk0 {
    background: url(../img/desk0.jpg);
}
.desk1 {
    background: url(../img/desk1.jpg);
}
.desk2 {
    background: url(../img/desk2.jpg);
}
.desk3 {
    background: url(../img/desk3.jpg);
}
.desk4 {
    background: url(../img/desk4.jpg);
}

/*
|-----------------------------------------------------------
| Image Sources For "Mics"
|-----------------------------------------------------------
*/
.mic0 {
    background: url(../img/mic0.jpg);
}
.mic1 {
    background: url(../img/mic1.jpg);
}
.mic2 {
    background: url(../img/mic2.jpg);
}
.mic3 {
    background: url(../img/mic3.jpg);
}
.mic4 {
    background: url(../img/mic4.jpg);
}

/*
|-----------------------------------------------------------
| Image Sources For "Peripherals"
|-----------------------------------------------------------
*/
.peripheral0 {
    background: url(../img/peripheral0.jpg);
}
.peripheral1 {
    background: url(../img/peripheral1.jpg);
}
.peripheral2 {
    background: url(../img/peripheral2.jpg);
}
.peripheral3 {
    background: url(../img/peripheral3.jpg);
}
.peripheral4 {
    background: url(../img/peripheral4.jpg);
}

